body {
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
  font-family: 'Poppins', sans-serif;
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-bottom: 2rem;
  border-bottom: dotted;
  border-color:  #333;
}

.profile-img {
  width: 150px;
  height: auto;
  border-radius: 50%;
  margin-bottom: 1rem;
}

.profile-img:hover {
  transform: scale(1.1);
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
}

h1 {
  font-family: 'Monofett', sans-serif;
  color: #639E93;
}

h2, h3, h4, h5, h6{
  color: #333 !important;
  font-family: 'Roboto', sans-serif;
}

a {
  color:#8483AD;
}

a:hover {
    color:#413daf;
  }

p {
  color: #333
}

img {
  max-width: 100%;
  height: auto;
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.profile-img {
  width: 150px;
  height: auto;
  border-radius: 50%;
  margin-bottom: 1rem;
}

.navigation {
  display: flex;
  justify-content: center;
  align-items: center;

  margin-bottom: 1.5rem;
  width: 100%;
}

.nav-list {
  list-style: none;
  display: flex;
  gap: 3rem;
  padding: 0;
}

.nav-link {
  text-decoration: none;
  color: #333;
  font-size: 1.2rem;
  font-weight: 500;
  transition: color 0.3s ease, transform 0.3s ease;
  position: relative;
}

.nav-link:hover {
  color: #413daf;
  transform: scale(1.5);
}

.nav-link:hover::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #8483AD;
  bottom: -4px;
  left: 0;
}

footer {
  background-color: #f4f4f4;
  color: #333;
  padding: 2rem;
  text-align: center;
  margin-top: 1.5rem;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  overflow: hidden;
  border-top: dotted;
}

footer p {
  margin-top: 1rem;
  margin: 0.5rem 0;
  font-size: 2rem;
  color: #639E93 !important;
  font-family: 'Monofett', sans-serif;

  
}

.footer-img {
  width: 42px;
  height: auto;
  border-radius: 50%;
  margin-bottom: .5rem;
}

.footer-img:hover {
  transform: scale(1.1);
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
}

.social-links {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
  margin-top: 1rem;
}

.social-icon {
  color: #fff;
  transition: transform 0.3s ease, color 0.3s ease;
  padding: 0.5rem;
  border-radius: 50%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  font-size: 1.5rem;
}

.social-icon:nth-child(1) {
  background-color: #0077b5;
}

.social-icon:nth-child(2) {
  background-color: #211f1f;
}

.social-icon:nth-child(3) {
  background-color: #1db954;
}

.social-icon:hover {
  transform: scale(1.1);
}

.social-icon:nth-child(1):hover {
  background-color: #005582;
}

.social-icon:nth-child(2):hover {
  background-color: #000000;
}

.social-icon:nth-child(3):hover {
  background-color: #1ed760;
}

.social-icon:nth-child(4) {
  background-color: #333; 
}

.social-icon:nth-child(4) svg {
  color: #F7C35A;
}

.social-icon:nth-child(4):hover {
  background-color: #555;
}

.social-icon:nth-child(4):hover svg {
  color: #f0b100;
}


.contact-form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  padding: 2rem;
  border-radius: 8px;
  box-sizing: border-box;
}

.form-group {
  display: flex;
  flex-direction: column;
}

label {
  font-size: 1.1rem;
  margin-bottom: 0.5rem;
  display: block;
  color: #333;
}

input, textarea {
  padding: 0.8rem;
  font-size: 1rem;
  border-radius: 4px;
  border: 1px solid #ccc;
  width: 100%; 
  background-color: #fafafa;
  color: #333;
  max-width: 100%;
}

textarea {
  min-height: 120px;
}

button {
  padding: 1rem;
  background-color:#8483AD;
  color: white;
  font-size: 1.2rem;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  display: inline-block;
  margin-top: 1rem;
}

button:hover {
  background-color: #413daf;
}

.error {
  color: #e74c3c;  /* Red for error messages */
  font-size: 0.9rem;
  margin-top: 0.5rem; /* Add space between the input field and error message */
}

.form-success {
  text-align: center;
  font-size: 1.2rem;
  color: #2ecc71;  /* Green for success messages */
}


@media screen and (max-width: 768px) {
  .contact-form {
    padding: 1.5rem;
    max-width: 100%;
  }

  footer {
    padding: 1.5rem;
    width: 100%;
    box-sizing: border-box;
    overflow: hidden;
    text-align: center;
    margin-top: 2rem;
  }

  footer p {
    margin-top: 1rem;
    margin: 0.5rem 0;
    color: #639E93 !important;
    font-family: 'Monofett', sans-serif;
    font-size: 1.75rem;

  }

  .social-links {
    gap: 1.5rem;
    margin: 1.5rem;
    padding: 0;
  }

  .social-icon {
    font-size: 1.5rem;
    padding: 0.8rem;
  }

  .navigation {
    flex-direction: column;
    width: 100%;
  }

  .nav-list {
    flex-direction: column;
    gap: 2rem; /* Add more space between vertical items */
    width: 100%; /* Ensure nav list takes up full width */
    margin: 0; /* Remove any unwanted margin */
    align-items: center; /* Center the items within the list */
  }

  .nav-link {
    font-size: 1.4rem; /* Slightly larger text on mobile */
    text-align: center;
    padding: 0.5rem 0; /* Adjust padding for mobile */
  }
  .about-image {
    width: 150px;
    height: 150px;
  }

  .projects-grid {
    grid-template-columns: 1fr;
  }
}

.about-image {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  object-fit: cover; 
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  margin: 10px;
  display: inline-block;
}

.about-image:hover {
  transform: scale(1.1);
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
}


.portfolio-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 10px 20px;
  text-align: center;
}



.portfolio-description {
  font-size: 1.2rem;
  color: #555;
  margin-bottom: 40px;
  line-height: 1.5;
}


.projects-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 30px;
  margin-top: 20px;
}


.project-card {
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  position: relative;
}

.project-card:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}


.project-card img {
  width: 100%;
  height: auto;
  transition: opacity 0.3s ease;
}

.project-card:hover img {
  opacity: 0.8;
}


.project-card .project-info {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.6);
  color: #fff;
  padding: 20px;
  text-align: left;
  border-radius: 0 0 12px 12px;
  transition: background-color 0.3s ease;
}

.project-card:hover .project-info {
  background: rgba(0, 0, 0, 0.8);
}

.project-card .project-info h3 {
  font-size: 1.5rem;
  font-weight: 700;
  margin: 0;
}

.project-card .project-info p {
  font-size: 1rem;
  margin-top: 10px;
  opacity: 0.8;
}


.resume-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  margin-top: 50px;
}

.badge-base {
  width: 100%;
  max-width: 300px;
  height: auto;
}

.experience-container {
  padding: 20px;
}

.tool-category {
  margin-bottom: 40px;
  text-align: center;
}

.tool-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.tool-card {
  width: 150px;
  text-align: center;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.tool-icon {
  width: 60px;
  height: 60px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  margin: 0 auto;
}

.tool-card:hover .tool-icon, .tool-card:hover {
  transform: scale(1.1);
}

.gif-container {
  text-align: center;
  margin: 20px 0;
}

.animated-gif {
  width: 100%;
  max-width: 300px;
}



